@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-style: normal;
  src: url('./Common/NotoSansKR-Medium.otf') format('opentype'),
    url('./Common/NotoSansKR-Bold.otf') format('opentype');
}
