@font-face {
    margin: 0;
    font-family: "GowunDodum";
    src: url(./Common/GowunDodum.ttf);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
